/* Responsive layout - when the screen is less than 500px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

body {
  margin:2%;
  animation-name: bodycolor;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes bodycolor {
  0% {background-color: #ff0000;}
  16% {background-color: #ffa500;}
  33% {background-color: #ffff00;}
  50% {background-color: #008000;}
  67% {background-color: #0000ff;}
  84% {background-color: #4b0082;}
  100% {background-color: #ee82ee;}
}

.text {
  background-color: #f3f3f3;
  padding-left:7px;
}

.header {
  font-family: Times New Roman, Georgia, Palatino;
}

.blurb {
  max-width:60%;
}

.section {
  color: #2079c7;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Arial Black, Helvetica;
}

.column {
  float: left;
}

.left {
  width:65%;
  margin-right: 3.45%;
}

.right {
  width:30%
}

.dates {
  color: #737373;
  margin-top:-10px;
  margin-bottom:-10px;
}

i {
  font-weight:normal;
}

img {
  height:auto;
  max-width:100%;
  margin-left:-7px;
  border: solid #f3f3f3;
}

li {
  font-size:.95em;
}
